/* Container for lua scripts settings */
.extension-lua-scripts-settings-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Settings Section */
.extension-lua-scripts-settings-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.extension-lua-scripts-settings-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.extension-lua-scripts-setting {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.extension-lua-scripts-settings-description {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}

/* Container for Lua scripts */
.extension-lua-scripts-container {
  display: flex;
  height: 100%;
  gap: 10px; /* Add spacing between the list and editor */
}

/* Header for Lua scripts */
.extension-lua-scripts-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}

/* List of Lua scripts */
.extension-lua-scripts-list {
  flex: 0 0 200px; /* Fixed width for the list */
  max-width: 250px; /* Prevent the list from growing too wide */
  overflow-y: auto;
  padding: 10px;
  background-color: #2a2a2a;
  border-right: 1px solid #444; /* Separate visually from the editor */
}

/* Container for individual Lua script */
.extension-lua-scripts-list-script-container {
  margin-bottom: 20px;
}

/* Header for individual Lua script */
.extension-lua-scripts-list-script-header {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

/* Input for script name */
.extension-lua-scripts-list-script-nameInput {
  width: 100%; /* Use full width of its container */
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
}

/* Code input area */
.extension-lua-scripts-list-script-codeInput {
  flex: 1; /* Stretch to fill the container */
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-family: monospace;
}

/* Code editor container */
.extension-lua-scripts-code-editor {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}
